---
import Hamburguer from './hamburguer.astro'
import Navigation from './navigation.astro'
import ThemeIcon from './theme-icon.astro'
---

<nav>
  <header>
    <Hamburguer />
    <ThemeIcon />
    <Navigation />
  </header>
</nav>
